<div class="page-width">
  
</div>
{% schema %}
{
  "name": "Image get Links",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "get_image_v_1",
      "label": "Get Image V1"
    },
    {
      "type": "image_picker",
      "id": "get_image_v_2",
      "label": "Image_picker without image"
    }
  ],
  "presets": [
    {
      "name": "Image get Links"
    }
  ]
}
{% endschema %}
