<div class="page-width">
  543211
</div>
{% schema %}
{
  "name": "Image get Links",
  "tag": "section",
  "class": "section",
  "settings": [
  ],
  "presets": [
    {
      "name": "Image get Links"
    }
  ]
}
{% endschema %}
