<div class="page-width">
  <h2>Request for custom sneakers</h2>
  {% form 'contact' %}
    <label for="contact[email]">
      Yor Email
      <input type="email" name="contact[email]" required>
    </label>
    <br>
    <br>
    <label for="sneakers-color">What color do you want?</label>
    <select id="sneakers-color" name="contact[sneakers_color]">
      <option>Red</option>
      <option>Green</option>
      <option>Blue</option>
      <option>Cistom</option>
    </select>
    <br>
    <label for="contact[sneakers_size]">
     Sneakers Size
      <input type="number" name="contact[sneakers_size]" required>
    </label>
    <br>
    <label for="contact[body]">
      Yout Comment
      <input type="textarea" name="contact[body]" required>
    </label>
    <button type="submit">SUBMIT</button>
    {{ form.errors | default_errors }}
  {% endform %}
</div>

{% schema %}
{
  "name": "Contact form Extended",
  "tag": "section",
  "class": "section section-contact-form-extended",
  "presets": [
    {
      "name": "Contact form Extended"
    }
  ]
}
{% endschema %}
