<div class="{% if section.settings.include_margins %}page-width{% endif %}">
123 
</div>

<script>
  {% comment %} const url = "https://junior-academy-dev.myshopify.com/api/2021-07/graphql.json";
const accessToken = "c1367dcf0571ff168f10d49860957422";

const headers = {
  "Content-Type": "application/json",
  "X-Shopify-Storefront-Access-Token": accessToken
};

const data = {
  query: `
    {
      shop {
        name
        id
        description
        paymentSettings {
          currencyCode
        }
        primaryDomain {
          host
          url
        }
        brand {
          colors {
            primary {
              background
            }
          }
        }
      }
    }
  `
};

fetch(url, {
  method: "POST",
  headers: headers,
  body: JSON.stringify(data)
})
.then(response => response.json())
.then(data => {
  // Handle the response data hereкК
  console.log(data);
})
.catch(error => {
  // Handle errors here
  console.error(error);
});  {% endcomment %}

{% comment %} 
const url = "https://junior-academy-dev.myshopify.com/api/2021-07/graphql.json";
const accessToken = "c1367dcf0571ff168f10d49860957422";

const headers = {
  "Content-Type": "application/json",
  "X-Shopify-Storefront-Access-Token": accessToken
};

const mutation = `
  mutation customerAccessTokenCreate($input: CustomerAccessTokenCreateInput!) {
    customerAccessTokenCreate(input: $input) {
      customerAccessToken {
        accessToken
        expiresAt
      }
      customerUserErrors {
        message
      }
    }
  }
`;
{% comment %} e7721c46ee5393b3e08b15ae0c88b5fe {% endcomment %}
const variables = {
  input: {
    email: "davidshopify@gmail.com",
    password: "123aaa"
  }
};

const data = {
  query: mutation,
  variables: variables
};

fetch(url, {
  method: "POST",
  headers: headers,
  body: JSON.stringify(data)
})
.then(response => response.json())
.then(data => {
  // Handle the response data here
  console.log(data, 'customer-data');
})
.catch(error => {
  // Handle errors here
  console.error(error);
});
 {% endcomment %}


{% comment %} change custoner Info {% endcomment %}


const url = "https://junior-academy-dev.myshopify.com/api/2021-07/graphql.json";
const accessToken = "c1367dcf0571ff168f10d49860957422";

const headers = {
  "Content-Type": "application/json",
  "X-Shopify-Storefront-Access-Token": accessToken
};

const mutation = `
  mutation ($token: String!) {
    customerUpdate(customerAccessToken: $token,  customer: {   firstName: "Postman", 	acceptsMarketing: true  }, ) {
      customer {
        id
        email
        firstName
        lastName
      }
      customerUserErrors {
        code
        field
        message
      }
    }
  }

`;
{% comment %} e7721c46ee5393b3e08b15ae0c88b5fe {% endcomment %}
const variables = {
  "token": "e7721c46ee5393b3e08b15ae0c88b5fe"
}

const data = {
  query: mutation,
  variables: variables
};

fetch(url, {
  method: "POST",
  headers: headers,
  body: JSON.stringify(data)
})
.then(response => response.json())
.then(data => {
  // Handle the response data here
  console.log(data, 'customer-data');
})
.catch(error => {
  // Handle errors here
  console.error(error);
});
</script>

  {% schema %}
  {
    "name": "Storefront API",
    "tag": "section",
    "class": "section",
    "settings": [
    ],
    "presets": [
      {
        "name": "Storefront API"
      }
    ]
  }
  {% endschema %}
   